<h1>About Me</h1>
<hr />
<div class="row">
  <div class="col-md-4">
    <!-- <img width="300" src="https://www.reader.gr/sites/default/files/view-of-the-bridge-leading-to-chalkida-city.jpg" alt="Profile Image"> -->
    <%= image_tag "about.jpg", width: 300, alt: "Profile Image" %>
  </div>
  <div class="col-md-8">
    <p>efnkgg,dk.smfdnkj</p>
    <p>efrhebjnkiefhnrjkdiojuefhnrjkdwdshnfjediwksdidkjs</p>
  </div>
</div>
